input.check{
    width: 8px;
    height: 8px;
}
.flex-outer li,
.flex-inner {
    max-width: 800px;
    padding: 0px 16px;
    display: flex;
    flex-wrap: wrap;  
    align-items: center;
}
.flex-outer > li > label,
.flex-outer li p {
    flex: 1 0 125px;
    max-width: 225px;
    padding: 8px;
}

.flex-outer > li > label + *,
.flex-inner {
     flex: 1 0 225px;
     max-width: 800px;
     padding: 0px 16px;
}
.flex-outer li button {
    margin-left: 0px;
    padding: 6px 12px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    border-radius: 3px;
}
.flex-inner li {
    width: 80px;
}
.flex-inner {
    justify-content: space-between;
}